body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    text-align: center;
    font-style: italic;
    color: #373fff;
  }

  #cat1 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  p {
    font-family: 'Itim', cursive;
    color: black;
    text-align: center;
  }