body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: powderblue;
  }
  
  h1 {
    display: block;
    padding-top: 55px;
    text-align: center;
    font-style: italic;
    color: #373fff;
  }

  .aboutme > p 
  {
    padding: 10px;
    border: black 1px;
  }

  #cat1 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    
  }
  
  p {
    display: block;
    line-height: 1.6;
    font-family: 'Itim', cursive;
    color: black;
    text-align: center;
  }

  
  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  table, td, tr, th
  {
    border: black 5px solid;
    word-spacing: 20px;
  }

  form {
    border: black 1px solid;
    text-align: right;
  }

  #port {
    background: #000;
    overflow: hidden;
  }
  
  canvas {
    display: block;	
    left: 50%;
    margin: -200px 0 0 -200px;
    position: absolute;
    top: 50%;
  }

  .resize-google-image
  {
    width: 50px;
    height: 50px;
  }

  .blogname
  {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
  }

  .row
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
  }

  .card
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  ul{
    display: inline-block;

}

li {
  
  text-align: left;
  
}

#register > p
{
  display: block;
  text-align: center;
}

#flex-container {
  display: flex; 
  flex-wrap: wrap;
  background-color: rgb(139, 183, 226);
  justify-content: center;
  margin-bottom: 10px;
}

#flex-container > div 
{
  background-color: #f1f1f1;
  width: 100px;
  line-height: 75px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.cute
{
    	width: 100%;
      height: 100%;
      display: block;
      transition: transform .2s;
      object-fit: cover;
      
}

.cute:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

#row
{
  display: flex;
  flex-wrap: wrap;
}

#small-about-me
{
  flex: 25%;
  background-color: rgb(139, 183, 226);
  
}
  
#title-page
{
  flex: 70%;
  margin: 5px;
}

.container {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.nature
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 50px;
  }
  