body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: powderblue;
  }
  
  h1 {
    display: block;
    padding-top: 55px;
    text-align: center;
    font-style: italic;
    color: #373fff;
  }

  div.aboutme 
  {
    padding: 10px;
    border: black 1px;
  }

  #cat1 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    
  }
  
  p {
    display: block;
    line-height: 1.6;
    font-family: 'Itim', cursive;
    color: black;
    text-align: center;
  }

  
  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  table, td, tr, th
  {
    border: black 5px solid;
    word-spacing: 20px;
  }

  form {
    border: black 1px solid;
    text-align: right;
  }

  #port {
    background: #000;
    overflow: hidden;
  }
  
  canvas {
    display: block;	
    left: 50%;
    margin: -200px 0 0 -200px;
    position: absolute;
    top: 50%;
  }