#game
{
    height: 200px;
    width: 500px;
    border: 1px solid black;
    background-color: grey;
}

#character
{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
    /* animation: jump 500ms; */
}

#obstacle

{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    margin-left: 480px;
    top: 130px;
    animation: blockquote 1.5s infinite;
}

@keyframes jump
{
    0% {top: 150px;}
    30% {top: 100px;}
    70% {top : 100px;}
    100% {top : 150px;}
}

.animate
{
    animation: jump 500ms;
}

@keyframes blockquote
{
    0% {margin-left: 480px;}
    100% {margin-left : -40px;}
}

.pic-resize
{
    height: 50px;
    width: 50px;
}

.obstacle-resize
{
    width: 20px;
    height: 20px;
}